.UserRound {
  display: flex;
  flex-direction: row;
}

.UserRoundBoard {
  margin-right: 5px;
}

.UserRoundSide {
  margin-left: 5px;
}

.btnConfirm {
  margin-top: 20px;
  background-color: rgb(0, 131, 143);
  border: 0;
  height: 50px;
  width: 100px;
  border-radius: 8px;
  color: white;
}
